html {
  height: 100%;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "roboto", Helvetica, sans-serif;
  margin: 0px;
  height: 100%;
  background-color: #fefae0
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 16px;
  background-color: #606c38;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  gap: 32px;
  padding: 16px;
  background-color: #fefae0;
}

.roundInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 16px;
  background-color: #606c38;
}

img {
  height: 80px;
  width: auto;
  rotate: 90deg;
}